<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GameBloc</title>
</head>
<body>

<div>
    <h3> @ViewBag.Title </h3>
    @RenderBody()
</div>
    <footer>
        @if (IsSectionDefined("Footer"))
        {
            @RenderSection("Footer")
        }
        else
        {
            <p>
                @Html.ActionLink("Time", "index", "Time")
                @Html.ActionLink("ConvertTime", "index", "ConvertTime")
            </p>
        }
    </footer>
</body>
</html>
