@using GameBloc.Models.Setvices.Game.Interface;
@{
    ViewBag.Title = "ShowGame";
    var id = ViewData["id"];
    @inject ISearchGameService searchGame;
    var game = searchGame.GetGame((int)id);
}


<form method="get">
    <input type="text" name="" value="@game.Name" /><br />
    <input type="text" name="" value="@game.Genre" /><br />
    <input type="text" name="" value="@game.Author" /><br />
    <input type="text" name="" value="@game.Stylistics" /><br />
    <input type="text" name="" value="@game.YearRelease" /><br />
    <textarea>@game.Feelings</textarea>
</form>
