@{
    ViewBag.Title = "Time";
    var month = new List<string>
    {
        "Январь", "Февраль", "Март", "Апрель","Май", "Июнь",
        "Июль", "Авгруст", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"
    };
}

<form method="get">
    <h3> @ViewData["Time"] </h3>
</form>

<form method="post">

    <p>
        <label for="timeType">Выберите первую дату:</label><br />
        <select name="firstDay">
            @{
                for (int i = 1; i < 32; i++)
                {
                    <option value="@i">@i</option>
                }
            }
        </select>     
        <select name="firstMonth">
            @{
                for (int i = 0; i < month.Count; i++)
                {
                    <option value="@i">@month[i]</option>
                }
            }
        </select>
        <select name="firstYear">
            @{
                for (int i = 1900; i < 2101; i++)
                {
                    <option value="@i">@i</option>
                }
            }
        </select>
    </p>
    <p>
        <label for="timeType">Выберите вторую дату:</label><br />
        <select name="secondDay">
            @{
                for (int i = 1; i < 32; i++)
                {
                    <option value="@i">@i</option>
                }
            }
        </select>
        <select name="secondMonth">
            @{
                for (int i = 0; i < month.Count; i++)
                {
                    <option value="@i">@month[i]</option>
                }
            }
        </select>
        <select name="secondYear">
            @{
                for (int i = 1900; i < 2101; i++)
                {
                    <option value="@i">@i</option>
                }
            }
        </select>
    </p>
    <input type="submit" value="Swap"/>
</form>

<footer></footer>


