@{
    ViewBag.Title = "AllGame";
    @inject IAllGame allGame;
    var games = allGame.GetAllGame();
}

<form method="get">
    @{
        foreach (var game in games)
        {
            <h2>@game.Name</h2>
            <h4>@game.Genre</h4>
            <h4>@game.Stylistics</h4>
            <h4>@game.YearRelease</h4>
            <h5>@game.Author</h5>
            <label>Ощущения от игры</label>
            <br />
            <textarea name="feelings"> @game.Feelings </textarea>
            <br />
            <br />
        }
    }
</form>

